html {
  scroll-behavior: smooth;
  font-size: 70%;
}

body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url(../images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-blend-mode: exclusion;
}

h1 {
  font-size: 3rem;
  font-family: "Montserrat-Bold";
}

h2, h3, h4, h5, h6 {
  font-size: 2rem;
  font-family: "Montserrat-Bold";
}

p {
  font-size: 1.4rem;
  line-height: 1.5;
}

hr {
  border-color: #000;
  border-radius: 10px;
  border-width: 2px;
}
/* Font Color*/

.txt-blue{
  color: #204075;
}

/* Container */
.container-fluid {
  padding: 0;
  margin: 0;
}
/* Backgrounds*/

.bg-opacity{
  background-color: #204075;
  opacity: 0.8;
}

.bg-white{
  background-color: #fff;
  opacity: 0.7;
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Bold";
  line-height: 1.5;
}

.sub-heading {
  font-family: "Montserrat-Black";
  line-height: 1;
}

.section-heading {
  font-family: "Montserrat"
  line-height: 1.5;
}

/* Title Section */
#title {
  background-color: transparent;
  text-align: center;
  text-shadow: 1px 2px black;
  color: #fff;
  z-index: 1;
  height: 100vh;
}

.headbutton {
  background-color: #fff;
  border-radius: 50%;
  border-style: solid;
  padding: 10px 5px 5px;
  margin: 4px 2px;
  opacity: 0.6;
  z-index: 2;
}

.downArrow {
  bottom: 45%;
  left: 50%;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  60% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  60% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* Navigation Bar */
#navbar {
  z-index: 10;
  box-shadow: 5px 4px 5px #fff;
  background-color: #204075;
  margin: 0;
}

.navbar {
  padding: auto;
}

.navbar-brand {
  font-family: "Montserrat-Bold";
}

.nav-item {
  padding: 0 1rem;
}

.nav-link{
  font-family: "Montserrat";
}


/* Profile Section */
#profile {
  padding: 3rem 1.5rem;
  margin: 1.5rem 0.5rem;
  color: #fff;
}

.icon {
  color: #ffffff;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #4caeff;
}

/* Project Section */
#projects {
  padding: 3rem 1.5rem;
  margin: 1rem 0.5rem;
}

.carousel .carousel-item{
  height:350px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 350px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

/* Skills Section */
#skills {
  padding: 1.5rem 1rem;
  margin: 1.5rem 0rem;
  color: #fff;
  text-align: left;
}

.skill-bg {
  background-color: #fff;
}

.skill-text {
  line-height: 1.5;
  padding: 1rem 2rem;
  margin: 1rem 0;
  color:#204075;
}

/* Contact Section */
#contact{
  opacity: 1;
  color: #fff;
}

iframe{
  width: 80vw;
  height: 80vh;
  margin: 0;
  padding: 0;
}

/* Footer Section */
.social-icon {
  margin: 20px 10px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}